body {
    background-color: cadetblue;
}

main {
    display: grid;
    grid-template-columns: 350px 450px 600px;
    grid-template-rows: 10px 180px 375px 30px;
    gap: 5xpx;
}

#video {
    width: 315px;
    height: 550px;
    grid-column: 1;
    grid-row: 1 / 3; 
    padding-left: 50px;
}

#under-video{
    grid-row: 4;
    text-align: center;
    padding-top: 10px;
}

.bio {
    grid-column: 2 / span 2;
    grid-row: 2;
    padding-left: 50px;
    padding-right: 50px;
}

a {
    color: darkgreen;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color:firebrick;
  }

#carouselExample {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px; 
}

.d-block.w-100 {
    height: 470px
}

h5 {
    background-color: darkblue;
    padding: 10px;
    border-radius: 50px;
    display:inline-flex;
}

#blockie {
    width: 50px;
}