body {
    background-color: aliceblue;
}

.content {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
}

.bio {
    grid-column-start: 1;
    grid-column-end: 2;

}

h2 {
    text-align: center;
}

#carouselExample {
    left: 350px;
    width: 700px;
    height: 470px
}

.d-block.w-100 {
    width: 700px;
    height: 470px
}

h5 {
    background-color: darkblue;
    padding: 10px;
    border-radius: 50px;
    display:inline-flex;
}